.flex-demo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-demo > div {
    background-color: lightblue;
    padding: 50px;
    /* margin: 300px; */
}

.grid_demo {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    background-color: lightpink;
    padding: 10px;
    margin-top: 20px;
}

.grid_demo > div {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}